* {
  box-sizing: border-box;
}
body {
  background-color: pink;
}
header {
  display: flex;
}
.Todo_list {
  width: 1400px;
  height: 400px;
  color: darkslategray;
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  width: 1200px;
  height: 3px;
  background-color: darkslategray;
  transform: translateX(100px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo_input {
  margin-top: 50px;
  width: 1000px;
  height: 100px;
  transform: translateX(200px);
  font-size: 30px;
  background-color: aliceblue;
  border: 1px solid gray;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  margin-top: 50px;
  transform: translateX(400px);
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo {
  font-size: 30px;
  font-weight: bold;
  color: darkslategray;
}
.todo-list,
.done-list {
  list-style: none;
}
.complete {
  font-size: 30px;
  font-weight: bold;
  color: darkslategray;
}
